*{
    box-sizing: border-box;
}
      
body {
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    direction: ltr;
    color: #333;
    opacity: 0;
    transition: opacity 3s;
}

a {
    color: rgb(155, 131, 86);
}

.button{
    color: #fff;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(155, 131, 86);
    font-size: 16px;
    border-radius: 50px;
    font-family: 'Tajawal', sans-serif;
    cursor: pointer; 
    margin-top: 20px;
}
  
.button:hover{
    text-decoration: none;
    background-color: #fff;
    color: rgb(22, 78, 22);
    border: none;
}
  
.up {
    font-size: 40px;
    color: rgb(155, 131, 86);
    float: right;
    padding: 30px;
    margin-right:8px;
    margin-bottom: 12px;
    cursor: pointer;
}

.more{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.down{
    font-size: 40px;
    color: rgb(155, 131, 86);
    padding: 30px;
    cursor: pointer;
}

#more2{
    display: none;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    padding: 40px 100px;
    display: none;
}

.about h2{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    margin-top: 100px;
}

.about p{
    font-size: 18px;
    color: #333;
    padding: 12px;
    line-height: 2;
    text-align: center;
}

.cover{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    opacity: 1.6;
}


/*menu*/
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(245, 219, 219, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
  
.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
  
.header li a:hover,
.header .menu-choice a:hover {
    background-color: rgb(22, 78, 22);
    color: white;
}
  
.header a:focus {
    border-bottom: 2px solid rgb(22, 78, 22);
    background-color: transparent;
    color: white;
}
  
.header .social-top a:hover {
    background-color: rgb(22, 78, 22);
    color: white;
}

.header .logo {
    display: block;
    float: left;
    padding: 0px;
    margin:0px;
    text-decoration: none;
    color: rgb(22, 78, 22);
}
.header .logo > img{
    padding-top: 8px;
    margin:0px;
    margin-left: 5px;
    height: 12%;
    width: 70%;
}
  
.header .logo:hover{
    color: rgb(155, 131, 86);
}
  
/* menu */
.header .menu {
    clear: both;
    font-size: 16px;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
/* menu icon */
.header .menu-icon {
    cursor: pointer;
    padding: 28px 20px;
    float: right;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .navicon {
    background: rgb(155, 131, 86);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: rgb(155, 131, 86);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
/* menu btn */
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 100%;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
  
  
  
/*for labtop and desktop screen*/
@media (min-width: 1170px) {
    .header{
      padding:12px 60px;
    }
    .header .menu-choice {
      float: left;
    }
    .header .social-top {
      float: right;
      padding-top: 12px;
      padding-right: 50px;
    }
    .header .social-top a {
      font-size: 16px;
      color:#fff;
      padding: 12px 30px;
      text-align: center;
      text-decoration: none;
      background-color: rgb(22, 78, 22);
      border-radius: 50px;
      font-family: 'Tajawal', sans-serif;
      cursor: pointer; 
    }
    
    .header li a {
      padding: 20px;
    }
    .header .menu {
      clear: none; 
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    
    .active{
      border-bottom: 2px solid rgb(22, 78, 22);
      background-color: transparent;
      color: rgb(155, 131, 86);
    }
  
    .header li a:hover,.header .menu-choice a:hover {
      border-bottom: 2px solid rgb(22, 78, 22);
      background-color: transparent;
      color: rgb(155, 131, 86);
    }
  
    .header a:focus {
      border-bottom: 2px solid rgb(22, 78, 22);
      background-color: transparent;
      color: rgb(155, 131, 86);
    }
     
    
    .header .social-top a:hover {
      background-color: rgb(155, 131, 86);
      border: none;
      color: rgb(238, 238, 238);
    }

    .header .logo:hover{
        color: rgb(155, 131, 86);
    }
  
    
}


/*vedio*/
.videoContainer{
    height: 600px;
    overflow: hidden;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; 
    opacity: 0.5;
}

.titleContainer{
    width: auto;
    height: auto;
   
}

.videoContainer .bigTitle {
    position: absolute;
    top: 37%;
    left: 20%;
    background-color: rgb(22, 78, 22);
    border-radius: 12px;
    color: #fff;
    padding: 12px 22px;
    padding-right: 200px;
    font-size:30px;
    text-align: center;
    margin-bottom: 33px;
    text-align: left;
}
.videoContainer .title {
    position: absolute;
    top: 52%;
    left: 20%;
    background-color: rgb(155, 131, 86);
    border-radius: 12px;
    color: #fff;
    padding: 20px ;
    margin-right: 70px;
    font-size:24px;
    text-align: center;
    text-align: left;
}

/*services*/
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    padding-bottom: 130px;
}

.services h2{
    font-size: 30px;
    margin-bottom: 100px;
    text-align: center;
}
.cardContainer{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 300px;
   width: 90%;
   margin:9px;
}

    
.card{
  height: 379px;
  width: 250px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cardTitle{
    position: absolute;
    height: 90px;
    width: 100%;
    background-color: rgb(155, 131, 86);
    bottom: 0;
}

.cardTitle h3{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.card0{
    background: url('https://images.pexels.com/photos/3943951/pexels-photo-3943951.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') center center no-repeat;
    background-size: cover;
    background-position: top;
}

.card0:hover{
    background: url('https://images.pexels.com/photos/3943951/pexels-photo-3943951.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') right center no-repeat;
    background-size: 500px;

}


.card1{
    background: url('https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center center no-repeat;
    background-size: cover;
    background-position: top;
}
 
.card1:hover{
    background: url('https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') left center no-repeat;
    background-size: 600px;
}
   
     
.card2{
    background: url('https://images.pexels.com/photos/935979/pexels-photo-935979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center center no-repeat;
    background-size: cover;
    background-position: top;
}


.card2:hover{
    background: url('https://images.pexels.com/photos/935979/pexels-photo-935979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') left center no-repeat;
    background-size: 600px;
} 

.card3{
    background: url('https://images.pexels.com/photos/6893931/pexels-photo-6893931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center center no-repeat;
    background-size: cover;  
}


.card3:hover{
    background: url('https://images.pexels.com/photos/6893931/pexels-photo-6893931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') left center no-repeat;
    background-size: 600px;
}

.card4{
    background: url('https://images.pexels.com/photos/952594/pexels-photo-952594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center center no-repeat;
    background-size: cover;  
    background-position: top;
}


.card4:hover{
    background: url('https://images.pexels.com/photos/952594/pexels-photo-952594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') right center no-repeat;
    background-size: 600px;
}

/*courses*/
.courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 330px;
    width: 100%;
    background-color:#555;
}
.courses h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
}

.courses p{
    color: #f1f1f1;
    padding: 8px 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    width: 60%;
}

/*footer*/
.footer{
    background-color:transparent;
    font-family: 'Tajawal', sans-serif;
    height:200px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 12px;
    width: 100%;
    margin-top:0px;
    padding-bottom: 20px;
    background-color: #fff;
  }
  .footer h2{
     font-size: 30px;
  }
  
  .footer h3{
      font-size: 16px;
      color: #555;
  }
  
  .footer .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
  }

  .footer .social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
   
  }
  
  .social img{
    width:14%;
    height: 15%;
    margin: 0px 5px;
  }
  
  .social .imgsmall{
    width: 10%;
    height: 11%;
  }

  .social .imgmid{
    width: 16%;
    height: 15%;
  }
  
  
  
  .copyright{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: #444;
    color: #fff;
  }
  
  .copyright a{
    color:#fff;
    font-size: 16px;
    text-decoration: none;
  }
  
  .copyright #year{
    color: #fff;
  }
  
  .copyright a:hover{
    color: rgb(155, 131, 86);
  }
  .copyright p{
    font-size: 16px;
}
  
/*form*/
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    padding-top: 60px;
}

.loginContainer::before{
    content:"";
    width:100%;
    height:600px;
    position:absolute;
    top:0;
    left:0;
    transform: translateZ(0);
    background:url("https://images.pexels.com/photos/3184160/pexels-photo-3184160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") 100% no-repeat;
    background-size: cover;
    background-attachment:fixed;
    animation: grow 360s  linear 10ms infinite;
    transition:all 0.4s ease-in-out;
    background-color: rgb(141, 139, 139);
    opacity: 0.3;
    z-index:-3;
}

.loginContainer h2 {
    color: #333;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 0px;
}

.input{
    color: #333;
    padding: 10px 40px;
    width: 70%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50px;
    font-family: 'Tajawal', sans-serif;
    margin-top: 20px;
    border: 1px solid #333;
}

.input:hover{
    border: 1px solid rgb(22, 78, 22);
    transition: all 3s ease-in;

}

select{
    color: #333;
    padding: 8px;
    width: 70%;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Tajawal', sans-serif;
    border: 1px solid #333;
}

.loginContainer .button{
    padding: 10px 60px;
    border: none;
    background-color: rgb(22, 78, 22);
}

.loginContainer .button:hover{
   background-color: rgb(155, 131, 86);
   color: rgb(238, 238, 238);
}
*:focus{
    outline: none;
}


@media(max-width:1200px){

    .button{
        color: #fff;
        padding: 12px 40px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(155, 131, 86);
        font-size: 16px;
        border-radius: 50px;
        font-family: 'Tajawal', sans-serif;
        cursor: pointer; 
        margin-top: 20px;
    }
      
    .button:hover{
        text-decoration: none;
        background-color: #fff;
        color: rgb(22, 78, 22);
        border: none;
    }
      
    .down{
        font-size: 30px;
    }

    
    .about{
        height: 400px;
        padding: 20px;
    }
    
    .about h2{
        font-size: 20px;
        margin: 12px;
        margin-top: 70px;
    }
    
    .about p{
        font-size: 16px;
    }

    
    
    /*vedio*/
    .videoContainer{
        height: 450px;
    }


    .videoContainer .bigTitle {
       top: 37%;
       left: 12%;
       padding-right: 20px;
       font-size:20px;
    }

   .videoContainer .title {
       top: 52%;
       left: 12%;
       padding: 20px ;
       margin-right: 20px;
       font-size:18px;
    }

   /*services*/
   .services{
       height: 1450px;
       width: 100%;
       padding-bottom: 130px;
    }

   .services h2{
       font-size: 24px;
       margin-bottom: 8px;
    }

   .cardContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 1250px;
      width: 90%;
      margin:9px;
    }

    
   .card{
      height: 379px;
      width: 250px;
      margin: 24px;
    }
    .cardTitle{
       position: absolute;
       height: 80px;
       width: 100%;
    }

   .cardTitle h3{
      font-size: 18px;
    }

    /*courses*/
    .courses{
      height: 380px;
      width: 100%;
    }

   .courses h2 {
      font-size: 26px;
    }

   .courses p{
      padding: 8px 20px;
      font-size: 16px;
      width: 100%;
   }

   /*footer*/
   .footer{
      height:200px;
      font-size: 16px;
      padding: 12px;
      width: 100%;
    }
    .footer h2{
        font-size: 26px;
    }
  
   .footer .social{
      width: 100%;
    }
  
    .social img{
      width:22%;
      height: 20%;
      margin: 0px 5px;
    }
  
    .social .imgsmall{
      width: 18%;
      height: 20%;
    }

    .social .imgmid{
      width: 26%;
      height: 28%;
    }

    /*form*/

   .loginContainer{
     height: 700px;
   }

    .loginContainer::before{
      content:"";
      width:100%;
      height:700px;
    }
    .loginContainer h2 {
        font-size: 20px;
    }
    
    form{
        width: 90%;
        padding-bottom: 40px;
    }

    
    .input{
        padding: 10px 40px;
        width: 80%;
        margin-top: 20px;
        font-size: 16px;
    }


    select{
        padding: 8px;
        width: 80%;
        font-size: 16px;
    }
    
    .loginContainer .button{
        padding: 10px 60px;
    }
    

}


  

  
  
